.combobox {
  width: 100%;
}

.inputWrapper {
  cursor: pointer;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
  background-color: inherit;
  text-align: left;
  color: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.dropdownIcon {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 5px;
  right: 0;
  top: 0;
}

.menu {
  background-color: var(--color-darkred-darker);
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 200px; /* Is there a way to not hardcode this? */
  max-height: 300px;
  overflow: hidden auto;
  outline: none;
  z-index: 1;
}

.menu.open {
  border: 1px solid var(--color-darkred-lighter);
  box-shadow: var(--box-shadow-red-active);
}

.item {
  text-align: left;
  padding: 5px;
  cursor: pointer;
}

.item.highlighted {
  background-color: var(--color-red-darker);
}

.placeholder {
  color: #777;
  opacity: 0.8;
}
