.form {
  display: flex;

  .submitBtn {
    // margin: 10px 0 0 10px;
  }
}

.field {
  margin-right: 10px;
  width: 200px;
}

.error {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--color-red-lighter);
}
