.form {
  display: flex;
  flex-direction: column;
  max-width: 672px;
  margin: 0 auto;
  align-items: center;

  .fields {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .submitBtn {
    margin: 20px 12px 0;
    min-width: 100px;
    align-self: flex-end;
  }
}

.field {
  margin: 12px;
  width: 200px;
}
