.form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  margin: 0 auto;
  align-items: center;

  .fields {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .submitBtn {
    margin: 20px 5px 0;
    min-width: 100px;
    align-self: flex-end;
  }
}

.field {
  margin: 5px;
  width: 200px;
}

.error {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--color-red-lighter);
}
