.resourceSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (max-width: 480px) {
    .resourceSearchForm {
      flex-direction: column;
      width: 100%;
      padding: 0 10px;
    }

    .resourceType,
    .richness {
      margin-right: 10px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
