.resourceSearch {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  .header {
    width: 100%;
  }

  .results {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;
  }

  @media screen and (max-width: 480px) {
    .resourceSearchForm {
      flex-direction: column;
      width: 100%;
      padding: 0 10px;
    }

    .resourceType,
    .richness {
      margin-right: 10px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

.error {
  margin-bottom: 20px;
}
