.planetSearch {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;

  .header {
    width: 100%;

    .title {
      text-align: center;
      font-size: 26px;
    }
  }

  .results {
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;
  }

  @media screen and (max-width: 645px) {
    .fields {
      flex-direction: column;
      width: calc(100% - 10px);
      padding: 0 10px;
      margin: 5px 0;
    }

    .field,
    .submitBtn {
      width: calc(100% - 24px);
    }
  }
}

.error {
  margin-bottom: 20px;
}
