.tableWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  max-width: 500px;
  background-color: var(--color-darkred);
}

.table {
  position: relative;
  width: 100%;
  max-height: 100%;
  background-color: var(--color-darkred);
  border-collapse: collapse;
}

.headers {
  font-size: 14px;

  .headerCell {
    position: sticky;
    top: 0;
    background-color: var(--color-darkred-darker);
    border: 1px solid var(--color-darkred);
    border-top: 0;
  }
}

.body {
  font-size: 12px;
}

.cell,
.headerCell {
  padding: 10px;
}

.placeholder {
  text-align: center;
  font-size: 12px;
  background-color: var(--color-darkred);
  width: 100%;
  padding: 10px;
}
