@import "../../../styles/mixins";

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-darkred-lighter);
  cursor: text;
  padding: 5px;
  position: relative;
  height: 40px;

  @include box-shadow(
    var(--box-shadow-red-hover),
    var(--box-shadow-blue-active)
  );
}

.label {
  cursor: inherit;
  font-size: 10px;
}

.error {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--color-red-lighter);
  position: absolute;
  bottom: -20px;
}
