:root {
  --color-black: hsl(0, 5%, 5%);

  --color-blue: hsl(240, 70%, 30%);
  --color-blue-darker: hsl(240, 70%, 20%);
  --color-blue-lighter: hsl(240, 70%, 40%);

  --color-red: hsl(0, 70%, 30%);
  --color-red-darker: hsl(0, 70%, 20%);
  --color-red-lighter: hsl(0, 70%, 40%);

  --color-darkred: hsl(0, 70%, 10%);
  --color-darkred-darker: hsl(0, 70%, 5%);
  --color-darkred-lighter: hsl(0, 70%, 15%);

  --color-text-white: hsl(0, 10%, 80%);

  --box-shadow-red-hover: 0 0 6px 2px var(--color-red-lighter);
  --box-shadow-red-active: 0 0 10px 2px var(--color-red-lighter);

  --box-shadow-blue-hover: 0 0 6px 2px var(--color-blue-lighter);
  --box-shadow-blue-active: 0 0 10px 2px var(--color-blue-lighter);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: var(--color-black);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-text-white);
}
